/* AUTHOR @GUSTAVOCOSTAW */

body {
  background: url('https://s3.postimg.org/wcbwroujl/tiny_jpg_bg.jpg?dl=1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-box {
  flex-direction: column;
  height: 100%;
  align-items: center;
  background: white;
  width:100%;
  display: flex;
  max-width: 520px;
  color:#333333;
  
  h1 {
    width:100%;
    text-align: center;
    height: 120px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form {
    flex-direction: column;
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    width:100%;

    .inputs {
      padding:40px;
      flex-direction: column;
      display: flex;
      align-items: center;
      flex:1 1 100%;

        .groups {
          width:100%;
          flex-direction: column;
          display: flex;
          align-items: center;

          .group {
            width:100%;
            flex-direction: column;
            display: flex;
            align-items: center;
          }

          > .group:last-child {
            margin-bottom: 0px;
          }
        }

        p {
          margin-top:20px;
          color: #a8b8c4;
          font-size: 14px;
        }

        p a {
          color:#1480e2;
          text-decoration: none;
        }
    }

    button.submit {
      width:100%;
      flex:1 0 auto;
      border:none;
      height: 50px;
      color: white;
      font-weight: bold;
      background: #1480e2;
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 520px) {
  .login-box  {
    margin-top:100px;
    padding:20px;
    height: 400px;

    h1 {
      width:80%;
      border-bottom: 1px solid #ccc;
      padding-bottom: 25px;
      margin-bottom: 25px;
      height: auto;
    }

    form {
      .inputs {
        width:80%;
        padding:0px;
        padding-top:20px;
      }

      input {
        width: 100%;
      }

      button.submit {
        width: 80%;
        max-width: 400px;
        cursor: pointer;
      }
    }
  }
}