/* AUTHOR @GUSTAVOCOSTAW */


/* FOLLOWING MOBILE FIRST CONCEPT */

body.profile {
  background: #f4f8f9;
}

.profile-box {
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  background:#f4f8f9;
  width:100%;
  display: flex;
  max-width: 660px;
  color:#333333;
  overflow: hidden;
  
    .profile-info {
        height: 375px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width:100%;
        flex: 0 0 auto;
        padding:10px;

        .information-area {
            width:100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            font-size: 14px;

            .ratting {
                color: #1480e2;
            }

            h1 {
                font-size: 20px;
                font-weight: bold;
            }
            ul {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                width:100%;

                li {
                    margin-bottom: 5px;
                    font-size: 12px;
                }
            }
            ul, li {
                margin:0px;
                padding:0px;
                list-style: none;
            }
        }

        .followers {
            margin-top:4px;
            width:100%;
            font-size: 12px;
            justify-content: flex-start;
            display: flex;
        }

        .logout {
            width:100%;
            justify-content: flex-end;
            display: flex;

            button {
                border:none;
                background: none;
                width:80px;
                height:30px;
                color: #1480e2;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
            }
        }

        .pic {
            display: flex;
            background: url('https://s3.postimg.org/73r2y0plv/profile_image.jpg');
            height: 125px;
            width:125px;
            background-position: center;
            background-size: cover;
        }

        .nav {
            margin-top:15px;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            background: white;
            width: calc(100% + 40px);
            height: 50px;

            ul, li {
                margin:0px;
                list-style: none;
                padding:0px;
            }

            ul {
                height: 100%;
                display: flex;

                li {
                    margin-left: 20px;
                    width:75px;
                    height: 100%;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width:100%;
                        text-transform: uppercase;
                        text-decoration: none;
                        height: 100%;
                        color: #47484b;
                        font-size: 14px;
                    }

                    a.active {
                        padding-top:6px;
                        border-bottom:5px solid #1480e2;
                    }
                }
            }
        }
    }

    .profile-section {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background: white;
        flex-grow: 1;

        .swiper-container {
            width: 100%;
            height: 100%;
            font-size: 13px;

            .swiper-wrapper {
                height: 100%;
            }

            .profile-info-list {
                ul,li {
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                }
                li {
                    margin-top: 15px;   
                }
            }

            .swiper-slide {
                overflow: hidden;
                overflow-y: scroll;
                padding: 20px;
                height: 100%;

                h1,h3 {
                    margin:0px;
                    padding:0px;
                }
                h1 {
                    font-size: 20px;
                    color: #797d80;
                }

                h3 {
                    font-size: 13px;
                    font-weight: bold;
                }

                form {

                    margin-top: 30px;

                    h1 {
                        padding-bottom: 30px;
                    }

                    input {
                        width:100%;
                    }
                }

                .settings-header {

                    display: flex;
                    margin-bottom: 30px;

                    h1 {
                        flex: 1 1 auto;
                    }

                    div {
                        display: flex;
                        width:150px;
                    }

                    button {
                        border:none;
                        background: none;
                        width:75px;
                        height:30px;
                        padding:0px;
                        color: #1480e2;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 13px;
                    }
                }
            }
        }  
        
    }

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 660px) {
  .profile-box  {
    margin-top:30px;
    max-width: 960px;
    overflow: visible;
    height: auto;

    .profile-info {
        height: 200px;
        padding:20px;
        background: white;
        position: relative;

        .followers {
            display: block;
            position: absolute;
            right:30px;
            bottom:15px;
            z-index: 9;
            font-size: 13px;
            width: auto;
        }

        .pic {
            position: absolute;
            bottom: 20px;
            left: 20px;
            z-index: 9;
            
            img {
                width:250px;
            }
        }


        .information-area {
            position: absolute;
            left: 170px;
            width: auto;
            display: block;
            bottom:55px;

            .reviews {
                display: none;
            }
        }

        .nav {
            position: absolute;
            bottom:0px;
            display: block;
            width:100%;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

            ul {
                margin-left: 150px;
            }
        }

        .logout {
            button {
                border: 1px solid #1480e2;
                border-radius: 2px;
            }
        }
        
    }

    .profile-section {
        max-height: 400px;
        margin-top:30px; 
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        
        .settings-header div {
            visibility: hidden;
        }
    }
  }

}